:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form {
  margin: 36px auto;
}

.input-search {
  width: 272px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;

  margin-right: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: border-color 0.3s;
}

.input-search:hover {
  border-color: #000;
}

.input-search:focus {
  border-color: #4e75ff;
}

.input-search:disabled {
  border-color: #cfcfcf;
  background: #fafafa;
}

.btn-search {
  display: inline-block;
  margin-left: 8px;

  padding: 8px 16px;
  width: 91px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #fff;
  background: #4e75ff;
  border-radius: 8px;
  border: none;
  border-color: transparent;

  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
}

.btn-search:hover,
.btn-search:focus {
  background: #6c8cff;
}

.container {
  padding: 0 15px;

  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  flex-basis: 360px;
  height: 100%;
  width: 360px;
  border: 1px solid #808080;
}

.gallery-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.thumb-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  background-color: #fff;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.amount {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
  background: #495479;
}

.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {

  0%,
  60%,
  100% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }
}